.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face{
  font-family: "p5hatty-webfont";
  src: url("./styles/font/p5hatty-webfont.woff")format("woff"),
  url("./styles/font/p5hatty-webfont.woff2")format("woff2"),
  url("./styles/font/p5hatty.otf")format("opentype");
  }
@font-face{
  font-family: "earwig-factory";
  src: url("./styles/font/earwig_factory_rg-webfont.woff")format("woff"),
  url("./styles/font/earwig_factory_rg-webfont.woff2")format("woff2"),
  url("./styles/font/Earwig-Factory-RG.otf")format("opentype");
}

body{
  background-color: rgb(124, 1, 1);
  font-family: "p5hatty-webfont", serif;
  font-size: 24px;
}

h3.earwig{
  font-family: "earwig-factory";
  font-size: 60px;
  color: white;
  text-shadow: 6px 3px 10px black;
  text-align: center;
  margin: 0px 150px 0px;
}
h1.earwig{
  font-family: "earwig-factory";
  font-size: 100px;
  color: white;
  text-shadow: 6px 3px 10px black;
  text-align: center;
  margin: 0px 150px 0px;
}
h1{
  text-align: center;
}